<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/os.css">
    </head>

    <body>
        <%- include("../includes/navigation.ejs") %>
            <main>
                <% if (os.length> 0) { %>
                    <div class="grid">
                        <% for (let o of os) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= o.marca %> <%= o.modelo %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= o.imagem %>" alt="<%= o.modelo %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">R$
                                        <%= o.precoOS %>
                                    </h2>
                                    <p class="product__description">
                                        <%= o.descricaoOS %>
                                    </p>
                                    <p>
                                        <%= o.cliente %>
                                    </p>
                                    <p>
                                        <%= o.placa %>
                                    </p>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>Nenhuma OS foi encontrada!</h1>
                    <% } %>
            </main>
            <%- include("../includes/end.ejs") %>